@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html,body{
    height: 100%;
}



#registration-form{


}

header{
    height: 100%;
    min-height: 50%;
}
#top-registration{
    height: 100%;
    background: url("../img/login-background.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Indie+Flower";
}


