<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    <title>Aparts list</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="js/apart.js"></script>

</head>
<body ng-app="aparts" ng-controller="ApartController">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Онлайн бронирование номеров</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Отели <span class="sr-only">(current)</span></a></li>
                <li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/login?logout">Logout</a></li>
                <li sec:authorize="isAnonymous()"><a href='/registration' >Registration</a></li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <h1>Отели</h1>
    <form role="form" ng-submit="getApartList()" >
        <div>
            <label>Дата начала</label>
            <div>
                <input class="form-control" id="date_begin" type="date" name="date_begin" ng-model="date_begin" />
            </div>
        </div>
        <div>
            <label>Дата конца</label>
            <div>
                <input class="form-control" id="date_end" type="date" name="date_end" ng-model="date_end" />
            </div>
        </div>

        <div>
            <label>Отобрать все отели, ниже </label>
            <div>
                <input class="form-control" id="apart_cost" type="text"  name="apart_cost" ng-model="apart_cost" />
            </div>
        </div>

        <div>
            <label>Город </label>
            <div>
                <input class="form-control" id="apart_city" type="text"  name="apart_city" ng-model="apart_city" />
            </div>
        </div>

        <div>
            <input class="form-control" id="submitGetButton" type="submit" value="Найти отель"/>
        </div>
    </form>
    <div ng-controller="getAparts" ng-show="apartsList.length > 0" class="panel panel-default">
        <div class="panel-heading">Список отелей</div>
        <table id="Apart" class="table">
            <thead>
            <tr>
                <!--<th>ИД</th>-->
                <th>Название отеля</th>
                <th>Стоимость проживания от</th>
                <th>Описание</th>
                <th>Номер телефона</th>
                <th>Адрес</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="apart in apartsList">
                <!--<td>{{apart.apartId}}</td>-->
                <td>{{apart.apart_name}}</td>
                <td>{{apart.apart_cost}}</td>
                <td>{{apart.apart_description}}</td>
                <td>{{apart.apart_phone}}</td>
                <td>{{apart.apart_address}}</td>
                <td class="showMarks"> <input class="btn btn-info" type="submit" value="Выбрать номер" ng-click="getOrders(apart.apartId)"/> </td>

                <div sec:authorize="hasAuthority('ADMIN')">
                    <td class="deleteApart"> <input class="btn btn-danger" type="submit" value="Удалить номер" ng-click="deleteApart(apart.apartId)"/> </td>
                </div>



            </tr>
            </tbody>
        </table>
    </div>
    <div sec:authorize="isAuthenticated()">
        <p>Добавить отель</p>
        <form role="form" ng-submit="addAparts()">
            <div>
                <label>Название отеля</label>
                <div>
                    <input class="form-control" id="firstNameField" type="text" name="firstName" ng-model="firstName" />
                </div>
            </div>
            <div>
                <label>Стоимость от</label>
                <div>
                    <input class="form-control" id="costField" type="text" name="cost" ng-model="cost" />
                </div>
            </div>
            <div>
                <label>Описание</label>
                <div>
                    <input class="form-control" id="descriptionField" type="text" name="description" ng-model="description" />
                </div>
            </div>
            <div>
                <label >Телефон</label>
                <div>
                    <input class="form-control" id="apartPhoneNumberField" type="text" name="phone" ng-model="phone" />
                </div>
            </div>
            <div>
                <label >Адрес</label>
                <div>
                    <input class="form-control" id="apartAddressField" type="text" name="address" ng-model="address" />
                </div>
            </div>
            <div>
                <input class="form-control" id="submitAddButton" type="submit" value="Добавить"/>
            </div>
        </form>
    </div>
    <div ng-show="orderList.length > 0" class="panel panel-default orderAndMarkDiv">

        <br/>
        <table id="orderAndMarkTable" class="table">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Тэги</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in orderList">
                <td>{{order.order_name}}</td>
                <td>
                    <div ng-repeat="mark in numer.markList" style="display: inline-block; margin-left: 10px;">
                        {{ mark.value }}

                        <div sec:authorize="isAuthenticated()">
                            <button class="btn btn-default btn-xs" type="submit" value="x" ng-click="deleteMark(mark.markId, numer.numerId)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>

                    </div>
                </td>
                <div sec:authorize="isAnonymous()">
                    <td class="choose" align="right">
                        <input type="button" class="button" value="Забронировать номер" onclick="location.href='/choose'" />
                    </td>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <td class="deleteNumer" align="right">
                        <input class="btn btn-danger" type="submit" value="Удалить номер" ng-click="deleteNumer(numer.numerId)"/>
                    </td>

                    <td width="200px">
                        <input class="form-control" id="markValueField" type="text" name="value" ng-model="value"/>
                    </td>
                    <td>
                        <input class="btn btn-submit"  type="submit" value="Добавить тэг" ng-click="addMark(numer.numerId)"/>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div class="panel panel-default">
            <div class="panel-heading">Добавить номер</div>
            <form class="panel-body">
                <div>
                    <label >Название номера</label>
                    <div class="input-group">
                        <input class="form-control" id="numerName" type="text" name="numerName" ng-model="numerName" />
                        <span class="input-group-btn">
                            <input class="btn btn-success" id="submitAddNumerButton" type="submit" value="Добавить" ng-click="addNumer(currentApartId, numerName)"/>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style>

    body {

        background: radial-gradient(at top , #EECFBA, #C5DDE8);

        font-family: "Microsoft PhagsPa";
    }

    .container {

    }

    .form-control{
        font-family: "Andalus";
        background: linear-gradient(45deg,#EECFBA, #C5DDE8);

    }
    #submitGetButton {
        margin-top: 50px;
        margin-left: 80px;
        background: linear-gradient(32rad, #e8c695, #ee665a);
        box-sizing: content-box;
        width: 150px;
    }

    #listOfApparts{
        margin-top: 80px;
    }

</style>
</body>
</html>

