<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Aparts Booking</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/registration.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/js/mdb.min.js"></script>


</head>
<body>

<header>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">

            <a href="#" class="navbar-left"><img src="img/logo.png"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon">

                 </span>
            </button>

            <div class="collapse navbar-collapse" id="basicExampleNav">
                <ul class="navbar-nav mr-auto smooth-scroll ">
                    <li class="nav-item ">
                        <a href="/aparts" class="nav-link waves-effect waves-light"> Home</a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item ">
                        <a href="/login" class="nav-link waves-effect waves-light">Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a href="/login?logout" class="nav-link waves-effect waves-light">LogOut</a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item active">
                        <a href="/registration" class="nav-link waves-effect waves-light">Registration</a>
                    </li>
                </ul>


                <ul class="navbar-nav nav-flex-icons">

                    <li class="nav-item">
                        <a href="" class="nav-link waves-light waves-effect">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link waves-light waves-effect">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link waves-light waves-effect">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>


    <div id="top-registration" class="view">
        <div class="mask rgba-black-strong "> <!--rgba-black-strong-->
            <div class="row justify-content-center align-items-center h-100">
                <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 lighten-2" id="registration-form">
                    <form ng-submit="createNewUser()" method="post" class=" justify-content-center  text-center">
                        <!--<div th:if="${param.error}" class="alert alert-danger" role="alert">-->
                        <!--<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>-->
                        <!--<span class="sr-only">Error:</span>-->
                        <!--Неверный логин или пароль.-->
                        <!--</div>-->
                        <p th:if="${param.logout}"></p>

                        <div class="form-group ">
                            <p><input class="form-control" type="text" id="login" name="login"
                                      placeholder="Login" ng-model="login" /></p>
                        </div>

                        <div class="form-group">
                            <p><input class="form-control" type="password" id="password" name="pass" ng-model="hash"
                                      placeholder="Password"/></p>
                        </div>

                        <div class="form-group">
                            <p><input class="form-control" type="text" id="email" name="email" ng-model="email"
                                      placeholder="Email" ng-model="login" /></p>
                        </div>

                        <p><input class="btn btn-light" type="submit" id="submitRegistrationButton"
                                  value="Register me"/>
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </div>


</header>


</body>

</html>


<!---->
